.cocktailize-header {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  line-height: 30px;
}

.cocktailize-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cocktailize-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cocktailize-container p.submit {
  padding-bottom: 0;
  margin-top: 25px
}

.cocktailize-container .button {
  width: 200px;
  height: 35px;
  margin-top: 5px;
}

.cocktailize-container label {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.cocktailize-container label span {
  font-size: 14px;
  margin-bottom: 25px;
}

.cocktailize-bounce img {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: cocktailize-bounce;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes cocktailize-bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-10px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}